{% extends 'appizza/base.html' %}
{% load static %}

{% block content %}

<body>
    <nav>

    <h1 class="fondo"> Nuestras pizzas </h1>

<p>soy un catalogo de pizzas malotas </p>

<div class="container">

        <div class="container">
            <div class="row">
                    <div class="col-lg-4 mb-4">
                            <div class="card h-100">
                                <h4 class="card-header">Pizza margarita</h4>
                                <div class="card-body">
                                    <img class="imgb" style="height:300px; width:300px" src="{%static 'appizza/img/margarita.jpg' %}">
                                    <p><b>Ingredientes: Tomate, queso parmesano, queso motzarella, oregano.</b></p>
                                    <p><b></b></p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-primary" type="submit" value="margarita"><b>$ 6.990</b><ion-icon name="cart"></ion-icon></a>
                                </div>
                            </div>
                        </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header" id="Hawaiiana">Pizza Hawaiiana</h4>
                        <div class="card-body">
                            <img class="imgb" style="height:300px; width:300px" src="{%static 'appizza/img/hawaii.jpg'%}">
                            <p><b>Ingredientes: Piña, Jamón, queso motzarela, queso parmesano. </b></p>
                            <p><b></b></p>
    
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary" type="submit" value="Hawaiiana"><b>$ 6.990</b> <ion-icon name="cart"></ion-icon></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">Pizza Pepperoni</h4>
                        <div class="card-body">
                            <img class="imgb" style="height:300px; width:300px" src="{% static 'appizza/img/superpepperoni.jpg'%}">
                            <p><b>Ingredientes: Doble porcion de peperoni, queso motzarella, queso parmesano.</b></p>
                            <p><b></b></p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary" type="submit" value="Pepperoni"><b>$ 6.990</b><ion-icon name="cart"></ion-icon></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">Pizza doble tocino</h4>
                        <div class="card-body">
                            <img class="imgb" style="height:300px; width:300px" src="{%static 'appizza/img/dobletocino.jpg'%}">
                            <p><b>Ingredientes: tocino, tocino canadiense, jamón. queso motzarella, queso parmesano. </b>
                            </p>
                            <p><b></b></p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary" type="submit" value="tocino"><b>$ 8.990</b><ion-icon name="cart"></ion-icon></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">Pizza vegetariana</h4>
                        <div class="card-body">
                            <img class="imgb" style="height:300px; width:300px" src="{%static 'appizza/img/vegiie.jpg'%}">
                            <p><b>Ingredientes: Tomate, champiñón, aceitunas negras, cebolla, pimiento verde, queso
                                    motzarella,
                                    queso parmesano.</b></p>
                            <p><b></b></p>
    
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary" type="submit" value="vegetariana"><b>$ 8.990</b><ion-icon name="cart"></ion-icon></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">Pizza mediterranea</h4>
                        <div class="card-body">
                            <img class="imgb" style="height:300px; width:300px" src="{%static 'appizza/img/mediterranea.jpg'%}">
                            <p><b>Ingredientes: Tomate, Brocoli, aceitunas negras, jamón, tocino, champiñón, queso
                                    motzarella,
                                    queso parmesano. </b></p>
                            <p><b></b></p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary" type="submit" value="mediterranea"><b>$ 8.990</b><ion-icon name="cart"></ion-icon></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">Pizza margarita</h4>
                        <div class="card-body">
                            <img class="imgb" style="height:300px; width:300px" src="{%static 'appizza/img/margarita.jpg' %}">
                            <p><b>Ingredientes: Tomate, queso parmesano, queso motzarella, oregano.</b></p>
                            <p><b></b></p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary" type="submit" value="margarita"><b>$ 6.990</b><ion-icon name="cart"></ion-icon></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">Pizza Bolognesa</h4>
                        <div class="card-body">
                            <img class="imgb" style="height:300px; width:300px" src="{%static 'appizza/img/bolognesa.jpg'%}">
                            <p><b>Ingredientes: Salsa de tomate, pimentón verde, champiñón, tocino, carne de res, queso
                                    motzarella, queso parmesano. </b></p>
                            <p><b></b></p>
    
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary" type="submit" value="Bolognesa"><b>$ 9.990</b><ion-icon name="cart"></ion-icon></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">Pizza the works</h4>
                        <div class="card-body">
                            <img class="imgb" style="height:300px; width:300px" src="{% static 'appizza/img/theworks.jpg' %} ">
                            <p><b>Ingredientes: Salsa de tomate, jamon, pepperoni, champiñón, pimentón verde, carne,
                                    cebolla,
                                    queso motzarella, queso romano. </b></p>
                            <p><b></b></p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary" type="submit" value="works"><b>$ 10.990</b><ion-icon name="cart"></ion-icon></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    

    
    <!-- /contenido-->



</nav>
</body>
{% endblock %}





